
{% set group = post.meta('about_us') %}

<section class="lg:my-16 my-12 relative">

<div class="container mx-auto">

<div class="grid lg:grid-cols-2 lg:gap-x-32 items-center">

<div data-aos="fade-right" data-aos-duration="1500">

<span class="small_title">{{ group.small_title }}</span>

<h2 class="text-3xl mb-4 text-secondary">{{ group.title }} </h2>

<div>{{ group.description }} </div>

</div>

<div class="lg-mt-0 mt-14 relative lg-left-0 -left-12" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1500">

<img src="{{ group.image }}" class="max-h-[400px] lg:rotate-0 rotate-y-180 mx-auto" alt="{{ group.title }}" />

</div>

</div>
</section>