
{% set brands = post.meta('brands') %}

<section id="brands" class="brands my-20">

<div class="container mx-auto">

<div class="grid grid-cols-8 items-center">

<div class="col-span-8 lg:col-span-6">

<span class="small_title" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="500">{{ brands.small_title}}</span>

<h2 data-aos="fade-up" data-aos-duration="1500" class="text-3xl text-secondary font-bold my-2">{{ brands.title}}</h2>

<p class="text-secondary font-normal" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">{{ brands.description }}</p>

</div>

<div class="col-span-2">

<div class="hidden lg:flex justify-end">

<button class="swiper-next-button bg-primary text-white h-10 w-10 rounded-full flex items-center justify-center mr-6"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>

<button class="swiper-prev-button bg-primary text-white h-10 w-10 rounded-full flex items-center justify-center"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>

  </div>

    </div>

</div>

<div class="slider swiper mt-14" data-xs="1.1" data-md="2.5" data-lg="3.5" data-speed="1000">

<div class="swiper-wrapper">

{% for item in brands.sliders %}

{% set entity = Post(item.entity) %}

<div class="item swiper-slide bg-cover bg-center h-[400px] rounded-xl flex flex-col justify-end px-4 pt-6 relative" style="background-image: url({{ item.image }})">

<div class="overlay z-0 rounded-xl"></div>

<a class="absolute block h-full w-full z-50" href="{{ entity.link }}"></a>

<div class="content lg:pb-0 pb-8">

<div class="lg:mb-2 mb-4">

{% if item.custom_entity_logo %}

<img src="{{ item.custom_entity_logo }}" alt="{{ entity }}" />

{% else %}

<img src="{{ entity.meta("logo") }}" alt="{{ entity }}" style="filter:brightness(0) invert(1)" />

{% endif %}


</div>

<h3 class="text-lg font-medium text-white mb-2">{{ item.title }}</h3>

<a class="btn" href="{{ entity.link }}">En savoir plus</a> 

</div>

</div>

{% endfor %}

</div>

</div>


</div> <!-- /container -->

<div class="slider swiper mt-20 w-full h-full mx-auto" data-speed="1000" data-xs="2.3" data-md="6" data-lg="8" data-autoplay='{{ { delay: 1, disableOnInteraction: true } | json_encode(constant('JSON_PRETTY_PRINT')) }}'>

<div class="swiper-wrapper">
 
{% for logo in brands.logos %}

<div class="item swiper-slide">

<div class="border p-2 flex items-center rounded-lg overflow-hidden h-[100px]">

<img src="{{ logo }}" class="mx-auto max-h-[60px] transition-transform hover:scale-110" alt="" />

</div>

</div>

{% endfor %}

</div>

</div>

</section>