<section class="relative top-[-50px]">

<div class="container mx-auto">

<div class="grid lg:grid-cols-3 gap-x-20 gap-y-10">

{% for item in post.meta("list") %}

{% set entity = Post(item.entity) %}

<div class="bg-white shadow-lg rounded-lg py-10 px-6 transition-all duration-500 lg:hover:scale-110">

<a href="{{ entity.link }}">

<div class="h-[60px]">

<img data-src="{{ entity.meta("logo") }}" class="lazy-image max-h-[50px] object-contain" alt="{{ entity }}" />

</div>

</a>

<h3 class="text-lg mt-2 mb-4 text-secondary">{{ item.title }}</h3>

<p class="mb-8">{{ item.description }}</p>

<a href="{{ entity.link }}" class="rounded-full border bg-primary text-white transition-all px-6 py-2 font-medium">

En savoir plus

</a>

</div>
{% endfor %}


</div>
</div>

</section>