
{% set group = post.meta('career') %}

<section class="py-16 lg:my-20 my-8 relative">

<img src="{{ group.image }}" class="max-h-[400px] relative right-[-40px] lg:absolute lg:right-0 lg:inset-y-0 pointer-events-none" alt="{{ group.title }}" />

<div class="container mx-auto">

<div class="grid grid-cols-2 lg:gap-x-16">

<div class="lg:col-span-1 col-span-2 mt-20 lg:mt-0">

<span class="small_title">{{ group.small_title }}</span>

<h2 class="text-3xl mb-4">{{ group.title }} </h2>

<p class="lg:text-lg">{{ group.description }} </p>

</div>

</div>
</section>