
{% set group = post.meta('career') %}

<section class="py-16 my-20 relative">

<img src="{{ group.image }}" class="max-h-[400px] lg:absolute right-0 top-0 bottom-0 pointer-events-none" alt="{{ group.title }}" />

<div class="container mx-auto">

<div class="grid grid-cols-2 gap-x-16">

<div class="lg:col-span-1 col-span-2">

<span class="small_title">{{ group.small_title }}</span>

<h2 class="text-3xl mb-4">{{ group.title }} </h2>

<p class="lg:text-lg">{{ group.description }} </p>

</div>

</div>
</section>