
{% set group = post.meta('intro') %}

<section class="py-16 lg:my-20 relative">

<img src="{{ group.image }}" class="pointer-events-none max-h-[400px] lg:absolute left-0 top-0 bottom-0" alt="{{ group.title }}" />

<div class="container mx-auto">

<div class="grid lg:grid-cols-12 gap-x-16 mt-16 lg:mt-0">

<div class="lg:col-start-5 lg:col-span-7">

<span class="small_title">{{ group.small_title }}</span>

<h2 class="text-3xl mb-4">{{ group.title }} </h2>

<p class="lg:text-lg">{{ group.description }} </p>

</div>

</div>
</section>