
{% set group = post.meta('intro') %}

<section class="lg:py-16 py-10 relative">

<div class="container mx-auto">

<div class="grid lg:grid-cols-12 gap-x-16 gap-y-10 mt-16 lg:mt-0 items-center">

<div class="lg:col-span-5">

<img data-src="{{ group.image }}" class="lazy-image pointer-events-none max-h-[400px] relative lg:left-0 left-[-40px]" alt="{{ group.title }}" />

</div>

<div class="lg:col-span-7">

<span class="small_title">{{ group.small_title }}</span>

<h2 class="text-3xl mb-4 text-secondary">{{ group.title }} </h2>

<p class="lg:text-lg">{{ group.description }} </p>

</div>

</div>
</section>