<section class="banner-title">

<div class="container mx-auto">

<div class="lg:max-w-5xl">

<ul class="list-none flex mb-3" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="500">

<li class="mr-2">
<a href="{{ site.url }}">{{ site.name }}</a>
<span class="pl-2"><i class="fa fa-chevron-right text-sm" aria-hidden="true"></i></span>
</li>

<li><a href="{{ post.link }}" class="text-primary">{{ post.title }}</a></li>

</ul>

<h1 data-aos="fade-up" data-aos-duration="1500">{{ post.meta("title") }}</h1>

</div>

</div>

</section>