
{% if jobs is not empty %}

<section id="job_list" class="pb-20" style="background: #F8FBFF">

<div class="container mx-auto">

<div class="mb-10 flex justify-between items-center">

<div>
<span class="small_title">Rejoignez UmanLink</span>

<h2 class="font-bold text-3xl mb-4 text-secondary">Retrouvez toutes les opportunités de nos entités</h2>

<p class="text-lg mb-0">{{ group.description }} </p>

</div>

<div>

<select id="job_filter" class="border px-6 py-2 outline-none rounded-full">

<option value="all">Toutes les entités</option>

{% for entity in jobEntities %}

<option value="{{ function("str_replace", " ", "", entity) | lower }}">{{ entity }}</option>

{% endfor %}

</select>

</div>

</div>

{% for job in jobs %}

{% if job.isActive == true %}

{% set entity = Post(job.entity) %}

<div class="job bg-white shadow rounded-lg flex items-center justify-between py-4 px-6 mb-5" data-entity="{{ function("str_replace", " ", "", entity) | lower }}">

<div class="flex lg:flex-row flex-col items-center">

<div class="w-[80px] mr-10">

<img src="{{ entity.meta("logo") }}" class="max-h-[70px] object-cover" alt="{{ entity }}" />

</div>

<div class="flex flex-col">

<h3 class="text-xl text-secondary job_title">{{ job.title }} </h3>

<ul class="list-none flex mt-3">

<li class="entity after:h-2 after:w-2 after:mx-4 after:bg-teal-400 after:rounded-full after:inline-block">{{ entity }}</li>

<li class="location after:h-2 after:w-2 after:mx-4 after:bg-teal-400 after:rounded-full after:inline-block">{{ job.location }}</li>

<li class="time">{{ job._time }}</li>

</ul>

</div>

</div>

<div><button class="outline-none rounded-full border border-primary text-primary transition-all hover:bg-primary hover:text-white px-6 py-2 font-medium" data-target="modal" data-toggle="modal">Postuler</button></div>


</div>

{% endif %}

{% endfor %}

</div>

</section>

{% endif %}