
{% if jobs is not empty %}

<section id="job_list" class="py-10" style="background: #F8FBFF">

<div class="container mx-auto">

<div class="mb-10 flex lg:flex-row flex-col lg:justify-between lg:items-center">

<div>
<span class="small_title">Carrières</span>

<h2 class="font-bold text-2xl lg:text-3xl mb-4 text-secondary">Retrouvez toutes les opportunités de nos entités</h2>

<p class="text-lg mb-0">{{ group.description }} </p>

</div>

<div>

<select id="job_filter" class="border px-6 py-2 outline-none">

<option value="all">Toutes les entités</option>

{% for entity in jobEntities %}

<option value="{{ function("str_replace", " ", "", entity) | lower }}">{{ entity }}</option>

{% endfor %}

</select>

</div>

</div>

{% for job in jobs %}

{% if job.isActive == true %}

{% set entity = Post(job.entity) %}

<div class="job bg-white shadow rounded-lg flex lg:flex-row flex-col lg:items-center lg:justify-between py-4 px-3 lg:px-6 mb-5 transition-all duration-400 delay-200" data-entity="{{ function("str_replace", " ", "", entity) | lower }}">

<div class="flex flex-row items-center">

<div class="lg:w-[80px] w-[50px] lg:mr-6 mr-4">

<img src="{{ entity.meta("logo") }}" class="lg:max-h-[70px] max-h-[50px] object-cover" alt="{{ entity }}" />

</div>

<div class="flex flex-col">

<h3 class="lg:text-xl text-lg text-secondary" data-target="job_title" data-value="{{ job.title }}">{{ job.title }} </h3>

<ul class="list-none flex lg:mt-3 mt-1 text-sm">

<li data-target="entity" data-value={{ entity }} class="after:h-2 after:w-2 lg:after:mx-4 after:mx-2 after:bg-teal-400 after:rounded-full after:inline-block">{{ entity }}</li>

<li data-target="location" data-value="{{ job.location }}" class="after:h-2 after:w-2 lg:after:mx-4 after:mx-2 after:bg-teal-400 after:rounded-full after:inline-block">{{ job.location }}</li>

<li data-target="time" data-value="{{ job._time }}">{{ job._time }}</li>

</ul>

</div>

</div>

<div class="lg:ml-0 ml-28 lg:mt-0 mt-4">

<button class="outline-none rounded-full border border-primary text-primary transition-all hover:bg-primary hover:text-white px-4 lg:px-6 py-1 lg:py-2 font-medium" data-target="job_modal" data-toggle="modal">Postuler</button>

</div>


</div>

{% endif %}

{% endfor %}

</div>

</section>

{% endif %}