<div id="menu_offcanvas" class="offcanvas" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header flex justify-between mb-20">

  <div><a href="{{ site.url }}"><img src="{{ footer.first_col.logo }}" alt="{{site.name}}" class="lg:max-w-md max-w-[150px]" /></a></div>
     
     <button class="btn-close close h-[30px] w-[30px] mr-6" aria-label="Close"></button>

  </div>
  
  <div class="offcanvas-body relative">

  {% set menuItems = menu.get_items() %}

  <nav role="navigation">
				{% if menuItems %}
					<ul class="navigation">
						{% for item in menuItems %}
							<li class="{{ item.classes | join(' ') }}">
								<a href="{{ item.link }}">{{ item.title }}</a>

							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</nav>
   
 
  </div>

   <div class="absolute inset-x-0 bottom-16 pl-4">

   <span class="font-gotham font-medium text-xl mb-4 block">Follow Us</span>

  <ul class="list-none flex">

{% for item in footer.infos.social_medias %}

<li class="mr-4">

<a target="_blank" href="{{ item.link }}" class="flex justify-center items-center h-[30px] w-[30px] rounded-full bg-white text-secondary hover:bg-primary hover:text-white transition-all duration-300">

<i class="fa fa-{{ item.type }}" aria-hidden="true"></i>

</a>

</li>

{% endfor %}


</ul>


  </div>

<div class="absolute bottom-12 -right-[30px]">

<img src="{{ header.mobile.canvas_lines }}" class="h-[280px] w-full" alt="" />


</div>

</div>