<div class="entities_circles py-16">

<div class="absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]">

<img src="{{ site.logo }}" alt="{{ site.name }}" class="lg:max-w-full max-w-[130px] object-cover"/>

</div>

<div class="z-30 h-[320px] lg:h-[450px] lg:w-[450px] w-[320px] rounded-full border-2 border-dashed relative mx-auto block circle">

{% for entity in entities %}

<div class="item z-40">

<a href="{{ entity.link }}">

<div class="h-full w-full">

<img src="{{ entity.meta("logo") }}" alt="{{ entity.title }}" />

</div>

</a>

</div>

 {% endfor %}

 </div>

  </div>