<header class="header w-full py-6 fixed z-50 shadow-md top-0 bg-white font-gotham font-medium transition-transform duration-500">
	<div class="container mx-auto">
		<div class="flex flex-row justify-between items-center">
			
			<a href="{{ site.url }}"><img src="{{ site.logo}}" alt={{site.name}} /></a>

			<div class="hidden xl:flex">
 
			<nav id="primary-nav" class="hidden lg:block mr-10" role="navigation">
				{% if menu %}
					<ul>
						{% for item in items %}
							<li class="{{ item.classes | join(' ') }}">
								<a href="{{ item.link }}">{{ item.title }}</a>

							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</nav>

			<div><a class="bg-primary rounded-full py-3 px-6 text-white hover:opacity-80 text-md" href="/">Contactez-nous</a></div>


		</div>
	</div>
</header>
